.imageCard {
  height: 475px;
  background-size: 100%;
  width: 290px !important;
}

.bookCard {
  padding-right: 10px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  width: 250px !important;
}

.bookCard p:hover {
  color: #e03997 !important;
}
